@use '../abstracts/variables' as *;

#About {
  padding:0;
}
.about{
  width:100vw;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  position:relative;
  z-index: 3;
  background: $primary-dark;
}