@use '../abstracts/variables' as *;

#About {
  margin: 0;
  padding:0;
  .container{
    padding:0;
    margin:0;
    width:100vw;
    max-width:100%;
  }
}
.about{
  height:900px;
  position:relative;
  z-index: 3;
  background: $primary-dark;
  padding-left:15vw;
  &__content{
    position:relative;
    &--header{
        position:absolute;
        left:18vw;
        top:5rem;
        font-size: 2.5rem;
        font-weight:600;
        font-family: 'Mona Sans';
        line-height: 2;
        max-width: 1100px;
        z-index:2;
        span {
            background-color: #f97316;
            color: white;
            padding: 0.1em 0.2em; 
            border-radius: 8px;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
        }
    }
    &--imgText{
      display:flex;
      flex-direction: row;
      align-items: flex-end;
      gap:10rem;
      position:absolute;
      left:0;
      top:10rem;
      z-index:1;
      .about__content--description{
        margin-bottom:-5rem;
        max-width:800px;
      p{
        font-size:1.75rem;
        color:#b6976d;
        &:nth-child(2){
          margin-top:1rem;
          color:white;
        }
      }
    }
    }
    img{
      width:400px;
      height:450px;
      object-fit: cover;
      z-index:1;
      border-radius: 1.5rem;
    } 
    &--readMore{
        display:flex;
        flex-direction: row;
        gap:2rem;
        align-items: center;
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        top:800px;
        z-index:2;
        color:white;
        border:1px solid $secondary-color;
        border-radius: 17px;
        padding:0.75rem 1rem;
        img{
          height:10px;
        }
    }
  }
}