#Banner{
    background-image: url('images/banner/banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    div{
        margin:auto;
        padding:2.5rem 0;
        font-family: 'Dancing Script';
        font-size:10rem;
        font-weight:700;
    }
}