#Banner{
    background-image: url('/images/banner/banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    img{
        margin:auto;
        padding:5rem 0;
        width:850px;
        @media screen and (max-width:500px){
            padding:2rem 0;
        }
    }
}