@use '../abstracts/variables' as *;

.footer {
  font-family: 'Mona Sans';
  background-image: url('images/footer/footer_bg.jpg');
  padding:5rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  &__content{
    max-width:1330px;
    margin:auto;
    display:flex;
    flex-direction: column;
    gap:5rem;
  }
  &__top{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap:5rem;
    &--support, &--iban{
      width:50%;
      justify-content: center;
    }
    &--support{
      display:flex;
      align-items: center;
      flex-direction: row;
      gap:2rem;
      .icon{
        background:$secondary-color;
        border-radius:50%;
        padding:1rem;
        img{
          transform: rotate(-15deg);
          width:100px;
        }
      }
      .text{
        font-family: 'Mona Sans';
        font-weight:700;
        display:flex;
        flex-direction: column;
        color: $secondary-color;
        font-size: clamp(1.5rem, 0.15rem + 5.4vw, 4rem);
        line-height: 0.99;
        span{
          color:#dbc09d;
        }
      }
    }
    &--vl{
      height:150px;
      border-left: 3px solid #351e7f;
    }
    &--iban{
      font-size: clamp(1.125rem, 0.8125rem + 1.25vw, 1.75rem);
      display:flex;
      flex-direction: column;
      .thanksForSupport{
        margin-bottom:2rem;
      }
      .number{
        font-weight:600;
      }
      .paymentIcons{
        margin-top:1rem;
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:1rem;
        img{
          width:50px;
          &:nth-child(1){
            width:75px;
          }
        }
      }
    }
  }
  &__bottom{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--top{
      width:100%;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      .left{
        display:flex;
        flex-direction: row;
        gap:1rem;
        justify-content: flex-start;
        a{
          color:rgba(#ffffff, .6);
          &:hover{
            color:white;
          }
        }
        h1{
          font-size: clamp(0.85rem, 0.775rem + 0.3vw, 1rem);
          color:rgba(#ffffff, .6);
          font-weight:700;
        }
        p{
          font-weight:400;
        }
      }
      .right{
        display:flex;
        flex-direction: row;
        align-items: flex-end;
        gap:1rem;
        a{
          color:rgba(#ffffff, .6);
          &:hover{
            color:white;
          }
        }
      }
    }
    hr{
      width:100%;
      border:1px solid $primary-light;
      margin:1rem;
    }
    &--bot{
      width:100%;
      p{
        float:right;
      }
    }
  }
  @media screen and (max-width:1250px){
    &__top{
      flex-direction: column;
      gap:5rem;
      margin:auto;
      width:100%;
      &--support{
        width:100%;
        .icon{
          img{
            width:50px;
            height:50px;
          }
        }
      }
      &--iban{
        text-align:center;
        width:100%;
        .paymentIcons{
          justify-content: center;
        }
      }
      &--vl{
        display:none;
      }
    }
    &__bottom{
      gap:2rem;
      &--top{
        flex-direction:column;
        align-items:center;
        gap:1rem;
        .left{
          text-align:center;
        }
        .right{
          gap:2rem;
        }
      }
      hr{
        display:none;
      }
      &--bot{
        p{
          width:100%;
          text-align:center;
        }
      }
    }
  }
  @media screen and (max-width:1400px){
    padding:5rem 2rem;
  }
}